# Estos paquetes son para experiencia de usuario
zsh
neovim
tmux
locate
lsd
bat
zsh-syntax-highlighting
zsh-autosuggestions
xclip		# muy util para ExtractPorts
scrub
flameshot



# Estos paquetes son para qtile
rofi
xserver-xorg
xinit
libpangocairo-1.0-0
python3-pip 
python3-xcffib 
python3-cairocffi
picom
feh

