zsh
neovim
tmux
locate
lsd
bat
zsh-syntax-highlighting
zsh-autosuggestions
xclip
scrub
flameshot
rofi
xserver-xorg
xinit
libpangocairo-1.0-0
python3
python3-pip 
python3-xcffib 
python3-cairocffi
picom
feh

