zsh
net-tools
neovim
tmux
locate
lsd
bat
zsh-syntax-highlighting
zsh-autosuggestions
xclip
scrub
flameshot
rofi
xserver-xorg
xinit
libpangocairo-1.0-0
python3
python3-pip 
python3-xcffib 
python3-cairocffi
python3-dbus-next
feh
picom
libconfig-dev 
libdbus-1-dev 
libegl-dev 
libev-dev 
libgl-dev 
libpcre2-dev 
libpixman-1-dev 
libx11-xcb-dev 
libxcb1-dev 
libxcb-composite0-dev 
libxcb-damage0-dev 
libxcb-dpms0-dev 
libxcb-glx0-dev 
libxcb-image0-dev 
libxcb-present-dev 
libxcb-randr0-dev 
libxcb-render0-dev 
libxcb-render-util0-dev 
libxcb-shape0-dev 
libxcb-util-dev 
libxcb-xfixes0-dev 
libxext-dev 
meson 
ninja-build 
uthash-dev